/* .inner {
  position: absolute;
  background-color: black;
  
} */
/* .wrapper {
  margin-bottom: 20px;
} */
html {
  background-color: black;
}

#searchgif {
  position: relative;
  height: auto;
  width: 50px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(45deg, #9933ff 0%, #ff6666 100%);
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 50px;
}

#searchtext {
  position: relative;
  height: 100%;
  width: 350px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
}

h2 {
  margin: 0;
  font-family: Inconsolata;
  background: linear-gradient(45deg, #9933ff 0%, #ff6666 100%);
}
/* input[type="text"] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} */

/* When the input field gets focus, change its width to 100% */
/* input[type="text"]:focus {
  width: 100%;
} */
